@model LeaveAllocationEditVM

@{
	ViewData["Title"] = "Edit Allocation";
}
@section PageHeading{
Edit Allocation
}
	<div class="row">
		<div class="col-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Edit @Model.LeaveType?.Name Allocation For @Model.Employee.FristName @Model.Employee.LastName</h6>
				</div>
				<div class="card-body">
					<form asp-action="EditAllocation">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="Id" />
						<input type="hidden" asp-for="EmployeeId" />
						<input type="hidden" asp-for="LeaveTypeId" />
						<div class="form-group">
							<label asp-for="NumberOfDays" class="control-label"></label>
							<input asp-for="NumberOfDays" class="form-control" />
							<span asp-validation-for="NumberOfDays" class="text-danger"></span>
						</div>
						<br />
						<div class="form-group">
							<label asp-for="Period" class="control-label"></label>
							<input asp-for="Period" class="form-control" />
							<span asp-validation-for="Period" class="text-danger"></span>
						</div>
						<br />
						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>