@model LeaveTypeVM

@{
    ViewData["Title"] = "Details";
}

@section PageHeading{
Leave Type
}

<div class="row">
    <div class="col-md-6">
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Leave Type Details</h6>
	</div>
	<div class="card-body">
<div>

    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
    </dl>
    <hr />
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
</div>
	</div>
</div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
