@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
     Layout = "_AccountLayout";
}
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                        <input asp-for="Input.FristName" class="form-control form-control-user" 
                                        placeholder="First Name"  aria-required="true" />
                                        <span asp-validation-for="Input.FristName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                        <input asp-for="Input.LastName" class="form-control form-control-user" 
                                            placeholder="Last Name"  aria-required="true" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Input.TaxId" class="form-control form-control-user" 
                                    placeholder="Tax Number" aria-required="true" />
                                    <span asp-validation-for="Input.TaxId" class="text-danger"></span>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.DateOfBirth" class="form-control form-control-user" 
                                            placeholder="Date of birth"  aria-required="true" />
                                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.DateJoined" class="form-control form-control-user" 
                                            placeholder="Date Joined" aria-required="true" />
                                        <span asp-validation-for="Input.DateJoined" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control form-control-user" 
                                    placeholder="Email Address" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">

                                        <input asp-for="Input.Password" class="form-control form-control-user"
                                        placeholder="Password"
                                        autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" 
                                        autocomplete="new-password" 
                                        placeholder="Repeat Password" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <button id="registerSubmit" type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                            </form>
                            <hr>
                            <div class="text-center">
                               <a class="small" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-page="./Login">Already have an account? Login!</a>
                            </div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
